{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/details.css' %}">
</head>
<body>
    <form action="{% url 'app:place' %}">
        <h4 id="oredr">ORDER</h4>
        <div  id="item" class="form-group">
            <label for="calculate">Item:</label>
            <input type="text" id="calculate" placeholder="Item name">
        </div>
        <div class="form-group">
            <label for="quantity">Quantity:</label>
            <input type="text" id="buy-quantity" placeholder="Quantity">
        </div>


        <button >Submit</button>
        </form>    
</body>
</html>